// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-huge = 24px
$font-size-huge-x = 26px

// 颜色
$color-main = #46a6ff
$color-sub = #33b4ff
$color-other = #53a1ff
$color-active = #2ea1e4
$color-item-active = #F5F5F5
$color-head = #12b7f5
$color-white = #fff
$color-black = #000
$color-exit = #da4132
$color-border = #D9D9D9
$color-background = #f4f5f6
$color-light-black = #333
$color-light-gray = #999
$color-transparent-black-i = rgba(0, 0, 0, 0.1)
$color-transparent-black-ii = rgba(0, 0, 0, 0.2)
$color-transparent-black-v = rgba(0, 0, 0, 0.5)
$color-transparent-black-viii = rgba(0, 0, 0, 0.8)
